/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*-------------------
      BUTTONS
-------------------*/

.btn_big {
    padding: 12px;
    border: none;
}

.btn_small {
    padding: 6px;
    border: none;
}

.btn_1_blue {
    background-color: #0061ff;
    color: white;
}

.btn_2_blue {
    background-color: #0061ff;
    color: white;
    border: none;
}

.btn-1-white {
    background-color: white;
    color: black;
}

.btn-2-white {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*-------------------
    GRID LAYOUT
-------------------*/

.container_big {
    max-width: 1200px;
    margin: auto;
}

.container_small {
    max-width: 1000px;
    margin: auto;
}

.container_flex {
    display: flex;
}

.column_flex {
    flex-direction: column;
}

.col_30 {
    width: 30%;
}

.col_70 {
    width: 70%;
}

.col_33 {
    width: calc(100% / 3);
}

/*-------------------
      UTILITIES
-------------------*/

.blue_wrap {
    background-color: #b4d0e7;
}

.resize_pics {
    width: 100%;
} 

.relative_position {
    position: relative;
}

.border_container {
    border: 2px solid #d0d0d3;
}

.border_bottom {
    border-bottom: 2px solid #d0d0d3;
}

.align_center {
    text-align: center;
}

.text_grey {
    color: #6b7274;
}

ul {
    list-style-type: none;
}

/*-------------------
       HEADER
-------------------*/

header {
    background-color: white;
    width: 100%;
    display: flex;
    padding: 18px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav {
    display: flex;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    padding: 18px 22px;
}

header img {
    padding-top: 14px;
}

header button {
    height: 30px;
    width: 60px;
    position: relative;
    top: 12px;
}

/*-------------------
    SECTION 1
-------------------*/

#Title_page {
    font-size: 66px;
    font-weight: 800;
    justify-content: center;
    margin-top: 60px;
}

.section_1 .col_30 {
    margin-top: 30px;
}

.section_1 .col_30 * {
    margin-bottom: 20px;
}

.section_1 .col_30 i {
    font-size: 34px;
    position: absolute;
    bottom: 30px;
}

.section_1 .relative_position {
    top: 30px;
}

/*-------------------
  SECTION 2
-------------------*/

.section_2 {
    margin-top: 100px;
}

.section_2 h2 {
    padding-bottom: 30px;
    font-size: 30px;
}

.section_2 .input_span {
    margin: 0 40px 0 0;
}

/*-------------------
  SECTION 2 - CARDS
-------------------*/

.section_2 .col_33 {
    margin: 40px 30px 0 0;
}

.section_2 .headcard {
    padding: 10px;
}

.section_2 li {
    min-height: 60px;
}

.section_2 .card_elements {
    padding: 20px;
}

.section_2 .container_elements {
    margin: 40px 0;
}

.section_2 .first_element_card * {
    padding: 8px;
}

.section_2 ul li {
    display: flex;
}

.section_2 ul i {
    margin-right: 6px;
}

.section_2 .btn_small {
    padding: 10px;
    width: 100%;
}

.section_2 h3 {
    margin-top: 20px;
}

.section_2 hr {
    width: 30%;
}

.section_2 h4 {
    margin: 20px;
}

.fa-check {
    color: #0061ff;
}

/*-------------------
    SECTION 3
-------------------*/

.section_3 {
    margin-top: 40px;
    border: 2px solid #d0d0d3;  
}

.section_3 h3 {
   padding: 20px;
   margin-bottom: -20px ;
}

.section_3 .container_flex{
    justify-content: space-between;   
}

.section_3 div.border_bottom{
    padding: 10px;
}

.section_3 p:last-child  {
    padding: 20px;
}

#txt_section_3 {
    max-width: 60%;
}

.section_3 button.btn_big {
    height: 40px;
    width: 220px;
    margin: 40px 40px 0 0;
}
   

/*-------------------
    SECTION 4
-------------------*/

.section_4 {
    margin-top: 140px ;
}

.section_4 .info_container {
    width: 45%;
    padding: 30px;  
}

.section_4 .info_container * {
    margin: 20px 0;
}

.section_4 button {
    padding: 10px;
}

/*-------------------
    SECTION 5
-------------------*/

.section_5 {
    margin-top: 140px;
}

.section_5 .col_33 {
    padding: 20px;
}

.section_5 h1 {
    margin-bottom: 50px;
    font-size: 40px;
}

.section_5 img {
    width: 100%;
}



/*-------------------
    SECTION 6
-------------------*/
