/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
      BUTTONS
-------------------*/

  .button_big {
    padding: 6px 30px;
    border: none;
  }

  .button_small {
    padding: 6px 16px;
    border: none;
  }
  
  .button_1_blue {
    background-color: blue;
    color: white;
  }
  
  .button_2_blue {
    background-color: blue;
    color: white;
    border: none;
  }

  .button-1-white {
    background-color: white;
    color: black;
  }
  
  .button-2-white {
    background-color: white;
    color: black;
    border: 1px solid black;
  }